
#pop-queues .sub.header {
  display: inline;
}

.default.basic.label {
  background: none;
  color: rgba(0,0,0,.84)!important;
}
.error.basic.label {
  background: none;
  color: rgba(255,255,255,.84);
}
.ok.basic.label {
  background: none;
  color: rgba(255,255,255,.84);
}
.warning.basic.label {
  background: none;
  color: rgba(255,255,255,.84);
}


.default.status {
  color: rgba(0,0,0,.84);
}
.error.status {
  background-color: #e74b47;
  color: rgba(255,255,255,.84);
}
.ok.status {
  background-color: #4caf50;
  color: rgba(255,255,255,.84);
}
.warning.status {
  background-color: #eba500;
  color: rgba(255,255,255,.84);
}
