<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="jquery-import.html">

<dom-module id="rabbitmq-consumer-status">
  <style>
    #status .column {
      padding-top: .3rem;
      padding-bottom: .3rem;
    }
  </style>
  <template>
    <iron-ajax
        id="ajax"
        handle-as="json"
        on-response="_handleResponse"
        on-error="_handleError"
        on-request="_handleLoading">
    </iron-ajax>
    <div id="status" class="ui padded middle aligned two column default status grid">
      <div class="ui column">{{displayName}}</div>
      <div class="right floated right aligned column">
        <div id="label" class="ui inverted small label">
          <span id="error_label"></span>
          <div id="messages_count" class="detail"></div>
        </div>
        <div id="loader" class="ui mini inverted inline loader"></div>
      </div>
    </div>
  </template>
</dom-module>

<script>
  "use strict";

  var SECONDS = 1000;

  Polymer({
    is: "rabbitmq-consumer-status",

    properties: {
      displayName: String,
      name: String,
      refreshInterval: {
        type: Number,
        value: 30,
        observer: "refresh",
      },
      url: String,
      vhost: {
        type: String,
        value: '/',
      },
    },

    observers: [
      "_updateUrl(url, vhost, name)",
    ],

    refresh: function() {
      clearInterval(this._interval);
      if (this.refreshInterval > 0) {
        this._interval = setInterval(
          this.$.ajax.generateRequest.bind(this.$.ajax),
          this.refreshInterval*SECONDS
        );
      }
    },

    _handleError: function(e, error) {
      let xhr = error.request.xhr;

      let status_elem = $(this.$.status);
      let label_elem = $(this.$.label);
      let error_label_elem = $(this.$.error_label);
      let messages_count_elem = $(this.$.messages_count);
      let status_elems = $([status_elem, label_elem]).map(function () {return this.toArray(); } );
      let status = "";
      let error_label = "";
      let error_detail = "";

      let data = xhr.response;
      if (data != null && 'reason' in data) {
        status = 'error';
        error_label = data.error;
        error_detail = data.reason;
      } else {
        console.warn(xhr);
        status = 'error';
        switch(xhr.status) {
          case 0:
            error_label = "can't reach host";
            error_detail = "";
            break;
          case 404:
            error_label = "not found";
            error_detail = xhr.status + ' ' + xhr.statusText;
            break;
          default:
            error_label = xhr.status;
            error_detail = xhr.statusText;
        }
      }

      $(this.$.loader).removeClass('active');
      error_label_elem.text(error_label);
      error_label_elem.popup({
        content: error_detail,
        position: 'left center',
        variation: 'inverted'
      });
      status_elems.removeClass('default error warning ok').addClass(status);
    },

    _handleLoading: function() {
      $(this.$.loader).addClass('active');
      $(this.$.error_label).text("");
    },

    _handleResponse: function(e) {
      let xhr = e.detail.xhr;

      let status_elem = $(this.$.status);
      let label_elem = $(this.$.label);
      let error_label_elem = $(this.$.error_label);
      let messages_count_elem = $(this.$.messages_count);
      let status_elems = $([status_elem, label_elem]).map(function () {return this.toArray(); } );
      let status = "";
      let error_label = "";

      let data = xhr.response;
      if (data.consumers > 0) {
        if (data.messages_unacknowledged > 0 && 'idle_since' in data) {
          status = 'warning';
          error_label = "consumers hung?";
        } else {
          status = 'ok';
        }
      } else {
        status = 'warning';
        error_label = "no consumers";
      }

      if (data.messages > 1) {
        messages_count_elem.text(data.messages);
      } else {
        messages_count_elem.text("");
      }

      $(this.$.loader).removeClass('active');
      error_label_elem.text(error_label);
      status_elems.removeClass('default error warning ok').addClass(status);
    },

    _updateUrl: function(url, vhost, name) {
      if (typeof url !== 'undefined' && url != null
          && typeof vhost !== 'undefined' && vhost != null) {
        name = encodeURIComponent(name);
        vhost = encodeURIComponent(vhost);
        this.$.ajax.url = url + '/api/queues/' + vhost + '/' + name;
        this.$.ajax.generateRequest();
      }
    },
  });
</script>
